      body {
        font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
        font-size: 100%;
        margin: 10px 10px 10px 10px;
      }
      #status {
        white-space: pre;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 800px;
        min-width: 300px;
        font-weight: bold;
      }
      #submit{
          height:100%;
          width:100%;
        }
      .comment{
        background-color: cornsilk;
        margin-bottom: 10px;
      }
      .commentMetadata{
        margin-bottom: 10px;
        font-weight: bold;  
      }
      .actionBar{
          margin-bottom: 10px;
          
      }
      #linkArea{
        margin-bottom: 10px;
      }
      .link{
        margin-right: 10px;
      }